.hero-parent{
    padding: 2rem 6rem;
    display: flex;
    justify-content: space-between;
}

.left-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.left-hero h1{
    font-size: 5rem;
}

.left-hero h4{
    font-size: 2.5rem;
}

.right-hero{

}

.right-hero img{
    height: 500px;
}