*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  
}

.parent-todo{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #473472;
}

.todo-main{
  display: flex;
  gap: 3rem;
}

.todo-inp{
  width: 30rem;
  height: 4rem;
  border-radius: 20px;
  font-size: 2rem;
  padding: 0 15px;
}

.add-btn{
  font-size: 2rem;
  padding: 5px 40px;
  border-radius: 20px;
}


.list{
  display: flex;
  gap: 12.5rem;
  padding-top: 2rem;
}

.list input[type="checkbox"] {
  width: 30px; 
  height: 30px; 
}

.list .todo-txt{
  font-size: 2rem;
}

.list .del-btn{
  font-size: 2rem;
  padding: 5px 40px;
  border-radius: 20px;
}