*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: black;
}

.left{
    width: 50%;
    height: 50%;
    background-color: beige;
     display: flex;
    justify-content: center;
    align-items: center;
}



h1{
    color: black;
    font-family: 'Arial', sans-serif;
}

.right{
    width: 50%;
    height: 50%;
    background-color: brown;
     display: flex;
    justify-content: center;
    align-items: center;
}